/* 定数を定義 */
:root {
  --contents_padding: 3rem;
  --contents_main_width: 80rem;
}

/* 共通スタイル */
#gallery_area {
  width: var(--contents_main_width);
  padding: 0 var(--contents_padding);
  margin: 0 auto;
  border: 0.5rem solid red;
}

/* ┌─────────────────────────────────────────┐
   │ Gallery  （flex）階段式に画像が左右にならぶ                       │
   └─────────────────────────────────────────┘ */
/* ６枚の画像を階段式に並べるhrex */
.gallery_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery_item {
  margin-bottom: 6rem;
}

/* 階段上のそれぞれの下の余白 */
.gallery_item:nth-child(odd) {
  text-align: left;
}

/* 階段上のそれぞれの下の余白 */
.gallery_item:nth-child(even) {
  text-align: right;
}

/* 画像のそれぞれのサイズ。 */
.gallery_img {
  width: 48%;
}
